.logo{
  display: inline-block;
  transition: 0.3s ease;
}

.logo:hover{
  transform: scale(1.2);
}

.header-list{
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
}


.hamburger{
  display: none;
}

.select{
  display: flex;
}

.overwiev{
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.overwiev:hover{
  color: gray;
}

.right-link-docs{
  text-decoration: none;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.3s ease;
}

.right-link-docs:hover{
  color: gray;
}

.version{
  width: 40px;
  font-size: 13px;
  padding: 0px;
  margin-bottom: 12px;
}

.hero{
  background-color: #5A5FD2;
  color: white;
}

.hero-all-text-responsive{
  display: none;
}

.hero-content{
  display: flex;
  flex-wrap: wrap;
}

.angle-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0%;
  padding: 0px;
}

.angle-item{
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding: 20px;
  transition: 0.3s ease;
}

.angle-item:hover{
  box-shadow: 0px 10px 30px;
}

.familiar-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.familiar-all-text{
  max-width: 400px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.phone-content{
  display: flex;
  flex-wrap: wrap;
}

.samuel{
  display: flex;
  background-color: #5A5FD2;
  padding-top: 100px;
  margin-top: -18px;
}

.samuel-img{
  width: 200px;
  border-radius: 50%;
}

.samuel-content{
  display: flex;
  align-items: center;
  color: white;
}

.core{
  background-color: whitesmoke;
}

.core-content{
  display: flex;
  justify-content: center;
}

.core-list{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  max-width: 400px;
}

.cor-item{
  margin-top: 15px;
  margin-left: 50px;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 10px;
}

.gradent{
  background-color: #6E42C1;
}


.gradient{
  height: 200px;
  background-image: linear-gradient(to top right, #6E42C1 0% 50%, #f3eeee 51% 100%);
}

.gradient-button{
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  color: white;
  background-color: #8996E6;
  border: solid 2px #8996E6;
  border-radius: 5px;
}

.footer{
  background-color: #343A40;
}

.footer-content{
  display: flex;
}

@media screen and (max-width: 1000px) {
  .hamburger{
    display: flex;
  }

  .select{
    display: none;
  }
  
  .header-list{
    display: none;
  }

  .hero-all-text-responsive{
    display: block;
  }

  .hero-all-text{
    display: none;
  }

  .familiar-all-text{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .phone-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .samuel{
    display: flex;
    background-color: #5A5FD2;
    padding-top: 100px;
    margin-top: 0px;
  }

  .core-content{
    display: block;
  }

  .cor-item{
    margin-right: auto;
    margin-left: auto;
  }
  
}

@media screen and (max-width: 800px){
  .samuel-img{
    max-width: 100px;
    border-radius: 50%;
  }

  .gradient{
    height: 100px;
    background-image: linear-gradient(to top right, #6E42C1 0% 100%, #f3eeee 51% 90%);
  }

  .footer-content{
    display: block;
  }
}